body {
    background-image: url("pics/w3.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
a.north2, a:link, a:visited {
    font-family: century gothic;
    font-weight: normal;
    font-size: 13px;
    text-decoration: none;
    color: #ffffff;
}
a.north2:hover, a.north1, a.north1:active {
    color: #E74C3C;
}
.north {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 15px;
    width: 100%;
    background-color: #17202A;
    z-index: 10;
}
.s {
    color: #ffffff;
}
.dreams {
    font-family: century gothic;
    font-size: 100px;
    color: dimgray;
    opacity: 0.4;
}
.i {
    margin-top: 50px;
}
.one {
    font-family: trebuchet ms;
    font-size: 20px;
    font-weight: bold;
    color: #E74C3C;
}
.one1 {
    font-family: century gothic;
    font-size: 15px;
    color: dimgray;
}
.inner {
    border-collapse: collapse;
    margin-top: 10px;
}
.dark {
    background-color: #ECF0F1;
    padding: 20px;
    border-radius: 7px;
    vertical-align: top;
}
.light {
    background-color: #FBFCFC;
    padding: 20px;
    border-radius: 7px;
    vertical-align: top;
}