body {
    background-image: url("../pics/w3.png");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
#parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px; 
}
.daryl {
    width: 180px;
    height: 180px;
    border-style: outset;
    border-color: dimgray;
}
.daryl:hover {
    border-radius: 100px;
}